/* с прозрачностью rgba(255, 255, 255, 0.6); */
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-black: #2f303a;
  --background-section: #f5f4fa;
  --main-font: Roboto, sans-serif;
  --main-foter-color: #000000;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Утилиты */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.logo,
.foter-logo {
  color: var(--main-foter-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
.foter-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}
/* Навигация */
.nav-contacts {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .current::after {
  position: absolute;
  display: block;
  border-radius: 2px;
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
}
/* контакты */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item:not(:last-child) {
  margin-right: 50px;
}
.contacts a {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
/* сss для странички "Студия" */
/* hero */
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: var(--background-black); */
  text-align: center;
}
.background-image {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroundhero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.button {
  border: none;
  width: 200px;
  min-height: 50px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* features */
.section-title {
  margin: 0;
  visibility: hidden;
}
.features {
  padding-bottom: 0;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: 270px;
}
.features h3 {
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features .text {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.7;
}
.features-icon {
  width: 70px;
  height: 70px;
}
.features-icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-section);
}
/* section */
.section-foto {
  display: flex;
  justify-content: space-between;
}
.section-item-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-position {
  position: relative;
}
.section-position > img {
  display: block;
}
.foto-title {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--white-color);
  margin: 0;
}
/* team */
.team-list {
  display: flex;
  justify-content: space-between;
}
.padding-team {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card {
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-section {
  background-color: var(--background-section);
}
.team-card {
  background-color: var(--white-color);
}
.team-card > .img {
  display: block;
}
.team-section h3,
.team {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-text {
  margin-bottom: 16px;
  margin-top: 0;

  font-size: 16px;
  line-height: 1.18;
}
.social-link {
  display: flex;
  padding: 12px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list:not(:last-child) {
  margin-right: 10px;
}
.social-list {
  width: 44px;
  height: 44px;
}
.team-icon-section {
  display: flex;
  justify-content: center;
}
.team-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: var(--white-color);
  background-color: var(--accent-color);
}
.client {
  display: flex;
}
.company {
  display: flex;
  text-align: center;
}
.company:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* css для "Портфолио" */
.portfolio-title {
  visibility: hidden;
  margin: 0;
}
.btn {
  display: flex;
  padding-bottom: 34px;
  justify-content: center;
}
.btn .item:not(:last-child) {
  margin-right: 8px;
}
.btn-all {
  width: 73px;
}
.btn-web {
  width: 128px;
}
.btn-app {
  width: 145px;
}
.btn-design {
  width: 103px;
}
.btn-marketing {
  width: 130px;
}
.button-primary {
  min-height: 38px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--background-section);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.element {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.element > img {
  display: block;
}
.element:nth-child(3n) {
  margin-right: 0;
}
.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
}
.card > img {
  display: block;
}
.card:hover,
.card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.card:hover .animation-text,
.card:focus .animation-text {
  transform: translateY(0);
}
.portfolio h2 {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-position .animation-text {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}
.portfolio p {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}
.padding {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0;
  padding: 20px 24px;
}
.portfolio-position {
  position: relative;
  overflow: hidden;
}
.animation-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px 10px;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* foter */
.page-foter {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-black);
  font-size: 14px;
  line-height: 1.7;
}
.foter-item:not(:last-child) {
  margin-bottom: 9px;
}
.foter-item {
  font-style: normal;
}
.address-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-section {
  color: var(--white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-contacts:focus,
.address-contacts:hover {
  color: var(--accent-color);
}
.address-section:hover,
.address-section:focus {
  color: var(--accent-color);
}
.social-section {
  margin-left: 70px;
}
.foter-section {
  display: flex;
  align-items: baseline;
}
.join {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
}
.foter-icon {
  display: flex;
  padding: 12px;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-icon:hover,
.foter-icon:focus {
  background-color: var(--accent-color);
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}
.close-black {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--white-color);
}
